.settings,.search,.lock,.clock,.note,.key,.bubble,.banknote,.lab,.phone,.heart,.user,.paperplane,.news,.params,.tag,.location,.fire,.music,.data,.photo,.sound,.diamond,.world,.truck,.mail,.video,.apple,.eye,.megaphone,.pen,.clip,.t-shirt,.stack,.bulb,.cup,.trash,.display,.vynil,.food,.study,.cloud,.calendar,.shop,.vallet,.star,.tv,.like,.camera { background-image: url('/home/savio/gits/CSS-SpriteMaker/sample_icons.png'); background-repeat: no-repeat; }
.settings { background-position: -110px 0px; width: 32px; height: 32px; }
.search { background-position: -110px -32px; width: 32px; height: 32px; }
.lock { background-position: -110px -64px; width: 24px; height: 32px; }
.clock { background-position: -110px -96px; width: 22px; height: 32px; }
.note { background-position: 0px -192px; width: 32px; height: 30px; }
.key { background-position: -142px 0px; width: 32px; height: 32px; }
.bubble { background-position: -96px -192px; width: 32px; height: 28px; }
.banknote { background-position: -142px -32px; width: 32px; height: 32px; }
.lab { background-position: -142px -64px; width: 32px; height: 32px; }
.phone { background-position: -142px -96px; width: 22px; height: 32px; }
.heart { background-position: -128px -192px; width: 32px; height: 28px; }
.user { background-position: 0px -128px; width: 32px; height: 32px; }
.paperplane { background-position: -32px -128px; width: 32px; height: 32px; }
.news { background-position: -64px -128px; width: 32px; height: 32px; }
.params { background-position: -96px -128px; width: 32px; height: 32px; }
.tag { background-position: -238px -106px; width: 32px; height: 24px; }
.location { background-position: -128px -128px; width: 24px; height: 32px; }
.fire { background-position: -152px -128px; width: 22px; height: 32px; }
.music { background-position: -174px 0px; width: 32px; height: 32px; }
.data { background-position: -174px -32px; width: 28px; height: 32px; }
.photo { background-position: -174px -64px; width: 30px; height: 32px; }
.sound { background-position: 0px -160px; width: 33px; height: 32px; }
.diamond { background-position: -238px -130px; width: 32px; height: 24px; }
.world { background-position: -206px -96px; width: 31px; height: 31px; }
.truck { background-position: -238px -55px; width: 32px; height: 26px; }
.mail { background-position: -238px -199px; width: 32px; height: 21px; }
.video { background-position: -238px -177px; width: 32px; height: 22px; }
.apple { background-position: 0px 0px; width: 110px; height: 128px; }
.eye { background-position: 0px -222px; width: 32px; height: 20px; }
.megaphone { background-position: -174px -96px; width: 32px; height: 32px; }
.pen { background-position: -174px -128px; width: 32px; height: 32px; }
.clip { background-position: -64px -192px; width: 32px; height: 29px; }
.t-shirt { background-position: -160px -192px; width: 32px; height: 28px; }
.stack { background-position: -192px -192px; width: 32px; height: 28px; }
.bulb { background-position: -33px -160px; width: 22px; height: 32px; }
.cup { background-position: -55px -160px; width: 28px; height: 32px; }
.trash { background-position: -83px -160px; width: 28px; height: 32px; }
.display { background-position: -32px -192px; width: 32px; height: 30px; }
.vynil { background-position: -111px -160px; width: 32px; height: 32px; }
.food { background-position: -143px -160px; width: 32px; height: 32px; }
.study { background-position: -238px 0px; width: 32px; height: 28px; }
.cloud { background-position: -238px -154px; width: 32px; height: 23px; }
.calendar@ { background-position: -206px 0px; width: 32px; height: 32px; }
.shop { background-position: -206px -32px; width: 32px; height: 32px; }
.vallet { background-position: -206px -127px; width: 32px; height: 31px; }
.star { background-position: -206px -158px; width: 32px; height: 31px; }
.tv { background-position: -238px -81px; width: 32px; height: 25px; }
.like { background-position: -206px -64px; width: 32px; height: 32px; }
.camera { background-position: -238px -28px; width: 32px; height: 27px; }